<div class="row">
    <div class="col-xs-12">
        <span>Model</span><span ng-bind=""></span>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <span class="bold">Cylinders: </span><span ng-bind=""></span>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <span class="bold">Transmision: </span><span ng-bind=""></span>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <span class="bold">Fuel: </span><span ng-bind=""></span>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <span class="bold">Class: </span><span ng-bind=""></span>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <span class="bold">Description: </span><span ng-bind=""></span>
    </div>
</div>