<div class="col-xs-12 carItem">
    <div class="col-xs-1 numberItem text-center">{{$index + 1}}</div>

    <div class="col-xs-3 text-center">
        <img src="http://420placehold.it/cars/200-200">
    </div>

    <div class="col-xs-8">
        <div>
            <span class="bold">Branch: </span><span>{{item.make}}</span>
        </div>
        <div>
            <span class="bold">Model: </span><span>{{item.model}}</span>
        </div>
        <div>
            <span class="bold">Cylinders: </span><span>{{item.cyl}}</span>
        </div>
        <div>
            <span class="bold">Tramision: </span><span>{{item.trans}}</span>
        </div>
    </div>

</div>
