<div class="col-xs-12">
    <div class="col-xs-1">{{$index + 1}}</div>

    <div class="col-xs-4">
        <img src="http://420placehold.it/cars/200-200">
    </div>

    <div class="col-xs-7">
        <div>
            <span>Branch: </span><span>{{make}}</span>
        </div>
        <div>
            <span>Model: </span><span>{{model}}</span>
        </div>
        <div>
            <span>Cylinders: </span><span>{{cyl}}</span>
        </div>
        <div>
            <span>Tramision: </span><span>{{trans}}</span>
        </div>
    </div>

</div>
