<div>
    <div class="jumbotron">
        <h1>Search!</h1>
        <br />
        <form class="form" role="form">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="searchTerm">
                <span class="input-group-btn">
                    <button class="btn btn-success" type="submit" ng-click="search()"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </form>
    </div>

    <div  ng-if="cars" id="actionBar" class="col-xs-12">
        <div class="btn-group">
            <button type="button" class="btn btn-default">Sort by</button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Branch</a></li>
                <li><a href="#">Model</a></li>
                <li><a href="#">Fuel</a></li>
            </ul>
        </div>
    </div>

    <hr />

    <div ng-if="cars" class="bold">
        <div class="col-xs-1 text-center">#</div>
        <div class="col-xs-3 text-center">CAR PIC</div>
        <div class="col-xs-8 text-center">DETAILS</div>
    </div>
    <div search-item ng-repeat="item in cars"></div>

    <div class="alert alert-danger" role="alert" ng-show="noResults">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <strong>No Results!</strong> Better try another query.
    </div>

</div>